body{
  font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border: solid
  
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid;
}
#navbar li {
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  color: black;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px;
}

#main-doc{
  position: absolute;
  margin-left: 301px;
}

header{
  font-size: 1.8rem;
}

p{
  font-weight: 300;
}

.main-section{
  margin: 0 15px 15px 15px;
}



@media (max-width: 800px){
  #navbar .nav-link{
    display: none;
  }
  #navbar{
    width: 100%;
  }
  #main-doc{
    margin-left: 5px;
    margin-top: 80px;
  }
}
